h1{
    color: red;
    font-weight: bold;
    text-align: center;
}
h4{
    color: chartreuse;
    font-weight: 900;
    text-align: center;
    transition: 0.2s;
}
h4:hover{
    color: rgb(31, 31, 23);
}
p{
    color: crimson;
    font-weight: bold;
    text-align: center;
}
button{
    background-color: aquamarine;
    color: brown;
    text-align: center;

}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(75, 109, 109);
    margin: 25px;
    padding: 25px;
    text-align: center;;
    text-transform: capitalize;
}